* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    /* Basic colors  */
    --transition-smooth: all 0.5s ease-in-out;
    --cl-background: #ffffff;
    --cl-bgopacity1: hsl(0, 0%, 110%);
    --cl-bgopacity: rgba(255, 255, 255, 0.192);
    --cl-primary: #ffffff;
    --cl-prim-dark: #f1ecec;
    --cl-secondary: #007BFF;
    --cl-sec-light: #e0f0ff;
    --cl-sec-dark: #0056b3;
    --cl-card-h3: #999983;
    --cl-orange: #ff8000;
    --cl-green: #008000;
    --cl-red: #ff0000;
    --cl-text: #2c3e50;
    --cl-shadow: rgba(0, 0, 0, 0.2);

    /* Border radius */
    --radius-circle: 50%;
    --card-radius: 2rem;
    --radius-1: 0.4rem;
    --radius-2: 0.8rem;
    --radius-3: 1.2rem;

    /* Icon size */
    --icon-sm: 0.5rem;
    --icon-md: 1.5rem;
    --icon-lg: 2rem;

    /* Others */
    --box-shadow: 0.05rem 0.1rem 1.5rem var(--cl-shadow);
    --box-shadow-reverse: -0.05rem -0.1rem var(--cl-bgopacity);
    --box-shadow1: -0.1rem 0.1rem 1.5rem var(--cl-shadow);
    --card-padding: 1.5rem;
    --bgopacity: 0.5;
}

body.dark-mode {
    --cl-background: #272424;
    --cl-bgopacity: hsl(0, 0%, 21%);
    --cl-primary: #ffffff;
    --cl-prim-dark: #3f3e3e;
    --cl-secondary: #007BFF;
    --cl-sec-light: #e0f0ff;
    --cl-sec-dark: #0056b3;
    --cl-card-h3: #999983;
    --cl-orange: #ff8000;
    --cl-green: #008000;
    --cl-red: #ff0000;
    --cl-text: #ffffff;
    --cl-shadow: rgba(0, 0, 0, 0.8);
}

html {
    font-size: 13px;
}

body {
    width: 100vw;
    background: var(--cl-background);
    color: var(--cl-text);
    user-select: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cl-secondary);
}

img {
    width: 100vw;
    display: block;
}

i {
    font-size: 1.32rem;
}

h1 {
    font-size: 1.8rem;
    font-weight: 800;
}

h2 {
    font-size: 1.4rem;
    color: var(--cl-secondary);
}

h3 {
    font-size: 1.0rem;
}

.profile-photo {
    width: 3rem;
    height: 3rem;
    border-radius: var(--radius-circle);
    object-fit: cover;
    overflow: hidden;
}

.text-muted {
    color: var(--cl-green);
    font-size: 0.9rem;
    font-weight: bold;
}

.good {
    color: var(--cl-sec-dark);
}

.danger {
    color: var(--cl-red);
}

.container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 17rem auto;
    transition: var(--transition-smooth);
}

nav {
    height: 100dvh;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2rem;
    box-shadow: var(--box-shadow);
    position: relative;
}

nav > .vitalgo-id img {
    width: 95%;
    height: auto;
    margin: 1rem auto;
    border-radius: var(--radius-2);
}

.aside1 {
    display: none;
    overflow: hidden;
}

#close, #open {
    width: 2.1rem;
    height: 2.1rem;
    font-size: 1.5rem;
    color: var(--cl-sec-dark);
    top: 1vh;
    position: absolute;
    right: 0.5rem;
    display: none;
    cursor: pointer;
}

.linkpages {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2.22rem;
    gap: 1rem;
}

.linkpages i {
    font-size: 1.32rem;
    margin-right: 1rem;
}

.linkpages a, .linkpages1 a {
    color: var(--cl-secondary);
    display: block;
    width: 14.5rem;
    background: transparent;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: var(--radius-1);
    transition: var(--transition-smooth);
}

.linkpages a.active, .linkpages1 a.active {
    background: var(--cl-secondary);
    color: var(--cl-primary);
    margin-left: -0.52rem;
    border-radius: var(--radius-1);
    padding: 0.6rem 1rem;
    box-shadow: var(--box-shadow);
}

.linkpages a:hover, .linkpages1 a:hover {
    background: var(--cl-secondary);
    color: var(--cl-primary);
    margin-left: -0.52rem;
    box-shadow: var(--box-shadow);
}

.nav-footer {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 2rem;
    padding: 0 0.97rem;
}

/* main content */
main {
    width: auto;
    padding-left: min(5%, 1.23rem);
    overflow-y: auto;
}

/* header bar */
.header {
    width: 98%;
    height: 10vh;
    border-radius: var(--radius-2);
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 1.3rem auto;
    align-items: center;
    gap: 5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.search-bar input {
    width: 41.32rem;
    position: relative;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    height: 5vh;
    margin-left: 1rem;
    padding-left: 1.87rem;
    border-radius: var(--radius-2);
    background: var(--cl-prim-dark);
    color: var(--cl-text);
    border: none;
}

.search-bar i {
    position: absolute;
    top: 40%;
    left: 1.5rem;
    z-index: 1;
}

.user-menu {
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: right;
    margin: auto 1.5rem;
    gap: 2rem;
    justify-content: safe;
}

.user-menu .togglemenu {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cl-prim-dark);
    gap: 0.28rem;
    padding: 0.28rem 0.28rem;
    border-radius: var(--radius-1);
}

.active-mode {
    background: var(--cl-secondary);
    color: var(--cl-primary);
    border-radius: var(--radius-1);
    padding: 0.28rem 0.28rem;
}

/* AI icon */
#vg-ai {
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 85dvh;
    left: 85vw;
    width: 60px;
    height: 60px;
    padding: 8px 10px;
    border-radius: var(--radius-circle);
    background: var(--cl-prim-dark);
    box-shadow: var(--box-shadow-reverse);
}

#vg-ai:hover {
    background: var(--cl-primary);
    box-shadow: var(--box-shadow1);
}

/* Dashboard */
.dashboard {
    border-radius: var(--radius-3);
    box-shadow: var(--box-shadow1);
    padding-top: 1.1rem;
    margin: 1.8rem auto;
}

.dashboard-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2.26rem auto;
    gap: 2.22rem;
}

.dashHeader-right {
    text-align: center;
}

/* Guide information */
.stats-grids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    margin: 1rem 5rem;
    column-gap: 3rem;
}

.stat-card {
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-2);
    margin-top: 1.2rem;
    padding: 1rem 1rem;
    gap: 1.2rem;
    transition: var(--transition-smooth);
}

.stat-card:hover {
    margin-left: -1.1rem;
    scale: 1.1;
    box-shadow: none;
    border: 0.2rem inset var(--cl-prim-dark)
}

.stat-icon {
    width: 4rem;
    height: 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-1);
}

.stat-icon i, .pd-icon i {
    font-size: 2.2rem;
}

.stat-details {
    line-height: 1.6;
}

.stat-details h3 {
    color: var(--cl-card-h3);
    font-size: 0.9rem;
    font-weight: 800;
}

.stat-details h2 {
    color: var(--cl-text);
    font-size: 1.6rem;
    font-weight: 800;
}

.stat-footer {
    position: absolute;
    background: var(--cl-secondary);
    padding: 0.2rem 0.2rem;
    border-radius: var(--radius-1);
    right: 1rem;
    bottom: 1rem;
}

.stat-footer a {
    color: var(--cl-sec-light);
}

.slide-in {
    animation: slideIn 0.5s ease-in-out;
}

.slide-out {
    animation: slideOut 0.5s ease-in-out;
}

/* Patient uploaded details */
.pd {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    width: 95%;
    margin: 3rem auto;
    border-top: 0.3rem inset var(--cl-bgopacity);
    border-radius: var(--radius-2);
    padding-top: 2rem;
}

/* Cephas modification */
.dashboard-container {
    background: var(--cl-background);
    border-radius: var(--radius-2);
    padding: 0.5rem;
    border: 0.2rem solid var(--cl-shadow);
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 500px;
    overflow-y: auto;
}

.grid-row {
    display: grid;
    gap: 0.5rem;
    width: 100%;
}

.row-2 {
    grid-template-columns: repeat(2, 1fr);
}

.row-3 {
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background: var(--cl-background);
    border: 0.5rem;
    border-radius: 1.0rem;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
}

.card .text {
    display: flex;
    flex-direction: column;
}

.number-temp, .number-sugar, .number-bp, .number-o2, .number-lung, .number-weight, .number-heart {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 2px;
}

.number-o2, .number-weight, .number-bp {
    color: #2ab3bd;
}

.number-o2, .number-bp {
    color: #7537bd;
}

.number-heart, .number-lung {
    color: #db4f24;
}

.number-temp, .number-sugar {
    color: #9e1b1b
}

.unit {
    font-size: 20px;
    font-weight: 800;
    color: #9e1b1b;
    margin-bottom: 2px;
}

.label {
    font-size: 27px;
    font-weight: 700;
    color: #333;
}

.icon {
    font-size: 45px;
}

.card .icon-group {
    display: flex;
    gap: 0;
    margin: 0;
    padding: 0;
}

/* Icon Colors */
.heart2 {
    color: #00cc99;
    font-size: 2.0rem;
}

.heart {
    color: #00cc99;
    font-size: 60px;
}

.bp {
    color: hwb(352 5% 29%);
}

.o2 {
    color: #1db9c3;
}

.temp {
    color: red;
}

.lung {
    color: rgb(105, 37, 105);
}

.sugar {
    color: crimson;
}

.weight {
    color: royalblue;
}

.steps {
    color: skyblue
}

/* Summary Card Styles */
.summary-card {
    background: var(--cl-primary);
    border-radius: var(--radius-2);
    box-shadow: var(--box-shadow);
    padding: 0.3rem;
    width: 100%;
    color: var(--cl-text);
    border: 0.2rem solid var(--cl-bgopacity);
    margin:0;
    display:flex;
    flex-direction: column;
    max-height: 500px;
    height:100%;
}

.summary-title {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: var(--cl-secondary);
    text-align: center;
}
/*
.metrics-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
} */
.metrics-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem; /* Keep your spacing */
  flex: 1;
  /*overflow-y: auto;*/ /* Allow scroll if content is too much */
  margin-top:-10px;
}

.metric {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: var(--radius-1);
    background: var(--cl-prim-dark);
    margin:0;
     justify-content: space-between;
}

.icon2 {
    font-size: var(--icon-lg);
    margin-right: 1rem;
}

.metric-label {
    flex: 1;
    font-weight: 600;
    font-size: 1rem;
}

.metric-value {
    font-weight: 700;
    font-size: 1.2rem;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@media (max-width: 769px) {
    .container {
        width: 100vw;
        box-sizing: border-box;
        padding: 0;
        grid-template-columns: 1fr;
        transition: var(--transition-smooth);
    }
    
    img {
        max-width: 30vw;
    }
    
    #sideBar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--cl-background);
        height: 100dvh;
        width: 80vw;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }
    
    #sideBar .vitalgo-id img {
        width: 20vw;
        height: 18vw;
    }
    
    #sideBar .linkpages {
        display: flex;
        width: 100%;
        align-items: center;
        text-align: 10vw;
        top: 25vh;
    }
    
    #sideBar .linkpages a {
        width: 65%;
    }
    
    .aside1 {
        display: block;
        width: 10vw;
        height: 100dvh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    
    .aside1 .linkpages1 {
        display: flex;
        margin-top: 25vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .aside-footer1 {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.23rem;
        bottom: 0;
        z-index: 20;
    }
    
    #open {
        display: block;
        width: 80%;
        cursor: pointer;
        align-items: center;
    }
    
    #close {
        display: block;
    }
    
    #close-sidebar {
        display: block;
        display: none;
        position: absolute;
        top: 0;
        height: 100dvh;
        width: 100vw;
        z-index: 98;
        background: var(--cl-bgopacity);
        opacity: var(--bgopacity);
        backdrop-filter: 1.2rem;
    }
    
    main {
        width: 90vw;
        margin-left: 10vw;
        padding: 1.78rem 1rem;
        box-sizing: border-box;
    }
    
    .header {
        height: 7vh;
    }
    
    span .monitoring {
        display: none;
    }
    
    .search-bar input {
        width: 145%;
        height: 2.33rem;
        margin: 0.3rem;
    }
    
    .search-bar i {
        font-size: 0.9rem;
    }
    
    .user-menu {
        gap: 0.7rem;
    }
    
    .user-menu img {
        width: 2rem;
        height: 2rem;
    }
    
    .user-menu h3, .user-menu h4 {
        display: none;
    }
    
    .dashboard {
        padding: 0.2rem;
        box-shadow: var(--box-shadow1);
    }
    
    .dashboard .stats-grids {
        grid-template-columns: 1fr;
        margin: 0.8rem auto;
    }
    
    .stat-card {
        width: 80%;
        max-height: 15vh;
        margin: 2rem auto;
        padding: 0 0.45rem;
    }
    
    .stat-card .stat-footer {
        display: none;
    }
    
    .stat-card:hover {
        scale: 0.95;
        margin-left: 01rem;
    }
    
    .pd {
        width: 80vw;
        grid-template-columns: 1fr;
        margin: 0.32rem auto;
        gap: 0.8rem;
        place-items: center;
    }
    
    /* Mobile Summary Card */
    .summary-card {
        width: 100%;
        margin: 1rem auto;
    }
    
    .metrics-wrapper {
        grid-template-columns: 1fr;
    }

 

}

